<h1> Update <%= @song.title %></h1>
<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited this record from being updated</h2>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Update Song" %>
<% end %>
