<%= form_for(@playlist) do |f| %>
  <%= render partial: "shared/errors", locals: {target: @playlist} %>

  <%= f.text_area :name %>

  <% @songs.each do |song| %>
    <div>
      <%= check_box_tag(:song_ids, song.id, song.in?(@playlist), name: 'playlist[song_ids][]', id: "song-#{song.id}") %>
      <%= song.title %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
